@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignalR ORder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="col-6">
        <input type="button" id="findDriver" value="Show available drivers" />
    </div>
    <h1 id="lat">@ViewData["Lattitude"]</h1>
    <h1 id="lon">@ViewData["Longitude"]</h1>

    <div class="row">
        <div class="col-6">
            <ul class="list-group" id="driversList">pp</ul>
        </div>
    </div>

    <div class="col-6">
        <input type="button" class="btn btn-primary btn-lg active" value="Autoselect driver" />
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        "use strict";

        const connection = new signalR.HubConnectionBuilder().withUrl("/orderHub").build();

        connection.on("Receive", function (userName) {

            var encodedMsg = userName + "";
            var li = document.createElement("li");
            li.className = 'list-group-item';
            li.textContent = encodedMsg;
            document.getElementById("driversList").appendChild(li);
        });

        document.getElementById("findDriver").addEventListener("click", function (e) {


            connection.invoke("Send", document.getElementById("lat").innerText, document.getElementById("lon").innerText);
        });

        connection.start();
    </script>
</body>
</html>
