

<h1>GOO GOO DOLLS</h1>
<h1 id="driver_lat">Your Lang</h1>
<h1 id="driver_lon">Your lat</h1>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    let reload_page = setInterval(() => location.reload(), 15000);

    $(function () {

        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(loadGeo);

        }

        async function loadGeo(position) {
            /*$('#address').val(position.coords.latitude + " " + position.coords.longitude);*/
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);

            var latOnScr = document.getElementById("driver_lat");
            latOnScr.innerText = position.coords.latitude;
            var lonOnScr = document.getElementById("driver_lon");
            lonOnScr.innerText = position.coords.longitude;
            let obj = {
                Lattitude: position.coords.latitude,
                Longitude: position.coords.longitude,
            }

            const url = "@Url.Action("GettingOnTheLine", "Order")";
            //debugger;
            const response = await fetch(url, {
                method: 'POST',
                headers: new Headers({ 'Content-Type': 'application/json' }),
                body: JSON.stringify(obj)
            });

            let gotObj = await response.json();
            if (gotObj == 'afk') {

                console.log(gotObj);
                setTimeout(() => { clearInterval(reload_page); document.location.href = "https://localhost:5001/Account/DriverIndex"; }, 500);
                

            }



            console.log(gotObj);



        }

    });

</script>