@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <title>Order Window</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>



</head>
<body>

    <h1>@ViewData["Name"]</h1>
    <h2>@ViewData["Lattitude"]</h2>
    <h2>@ViewData["Longitude"]</h2>



    <div id="map" style="width: 900px; height: 800px;"></div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>

        var map = L.map('map').setView([50.64086, 29.92616], 13);

        L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=y8obR85WfJgHplTVkbz9', {
            tileSize: 512,
            zoomOffset: -1,
            minZoom: 1,
            attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
            crossOrigin: true,
            accessToken: "your.mapbox.access.token"

        }).addTo(map);

        var taxiIcon = L.icon({
            iconUrl: 'https://localhost:5001/images/taxCar.png',

            iconSize: [50, 60], // size of the icon
            iconAnchor: [6, 27], // point of the icon which will correspond to marker's location
            popupAnchor: [-2, -5] // point from which the popup should open relative to the iconAnchor
        });

        let url = window.location.href;
        let arrayOfDriverCoordinates;
        let coordsIndex = url.indexOf('?');
        console.log(coordsIndex);

        //let coordsVals = url.substr(coordsIndex + 1, url.Length - 1 - coordsIndex);
        let coordsVals = url.substring(coordsIndex + 1);

        console.log(coordsVals);
        let arrayOfCoordinates = coordsVals.split('&');
        var myMarker = L.marker([50.69, 29.951]).addTo(map)
            .bindPopup('<b>Hello world!</b><br />This is your locatiob.');

        const connection = new signalR.HubConnectionBuilder().withUrl("/SelectDriverHub").build();
        connection.start().then(() => { setInterval(function () { connection.invoke("SendToMap", "konforovich") }, 10000)});
        console.log('sashki');

        let func = (arr) => {
            console.log('brinza');
            console.log(arrayOfCoordinates[0]);
            console.log(arrayOfCoordinates[1]);
            
            var marka = L.marker([arr[0], arr[5]], { icon: taxiIcon }).addTo(map)
                .bindPopup('<b>Hello!</b><br />This is your driver.').openPopup();
        };

        connection.on("Getting", function (coords) {

            console.log('benya');
            arrayOfDriverCoordinates = coords.split(' ');
            console.log(arrayOfDriverCoordinates[5]);
            func(arrayOfDriverCoordinates);
        });

    </script>



</body>
</html>