@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/car.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="hero">
        <h1>Hello driver!!</h1>
        <h1>If you would like to go on the line, just press the black button that is below you, if you wont be move thus you will be get off the line</h1>
        <a asp-controller="Order" asp-action="GettingOnTheLine" class="btn btn-primary driverBtn" role="button" data-bs-toggle="button">Get on the line </a>
        <div class="highway"></div>
        <div class="city"></div>
        <div class="casa">
            <img src="/images/cara1.png">
        </div>
        <div class="wheel">
            <img src="/images/wheel.png" class="back-wheel">
            <img src="/images/wheel.png" class="front-wheel">
        </div>
    </div>

@*<img src="~/images/maxresdefault.jpg" class="ordimg" alt="Order" />*@
</body>
</html>